* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

img {
    max-width: 300px;
    max-height: 500px;

    border-radius: 10px;
}

h1 {
    align-self: center;
}

p {
    padding: 20px;
}

.page-container {
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.blog-container {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.popular-posts {
    display: flex;
}

.post {
    width: 70%;
    margin: 10px;
    padding: 10px;
    border: 2px solid skyblue;
    background-color: #f7f7f7;

    display: flex;
    align-content: stretch;

}

.post-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.post-photo {
    margin-right: 10px

}

.blog-posts-list {
    list-style: none;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-options {
    border-radius: 10px;
    padding: 50px 10px;
    background-color: antiquewhite;
    list-style: none;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-option {

}